## Visual Studio Temporary & User Files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vstoken

## Build Outputs (Compiled Code)
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## ASP.NET Core specific
appsettings.Development.json
UserSecrets/

## Environment files (if you use them)
.env

## Common Web Junk
node_modules/
.sass-cache/